/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, serif);
  font-variation-settings: 'wght' var(--main-font-weight, 410);
  background-color: var(--background-color, #fff);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--content-color, #000);
  padding: 100px 0 0 0;
}

.container {
  inline-size: clamp(320px, 50%, 700px);
  margin: 0 auto;
}

.header {
  display: grid;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--content-color, #000);
  font-family: var(--font-accent, serif);
  text-align: center;
  padding-block-start: clamp(122px, calc(119.18px + 0.751vw), 130px);
  padding-block-end: clamp(118px, calc(114.48px + 0.939vw), 128px);
  margin-block-end: 100px;

}

.header__logo {
  display: block;
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  text-decoration: none;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  gap: 51px;
}

.card {
  background-color: var(--background-color, #fff);
  border: 2px solid var(--content-color, #000);
}

.card__title {
  border-bottom: 2px solid var(--content-color, #000);
  padding: 4px 10px;
  font-variation-settings: 'wght' var(--title-font-weight, 715);
  font-size: var(--title-font-size, 18px);
}

.card__image-container {
  position: relative;
  border-bottom: 2px solid var(--content-color, #000);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.filter-brightness {
  filter: brightness(300%);
}

.filter-multiply {
  filter: opacity(0.9) contrast(3) sepia(0.2)
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-invert {
  filter: invert(70%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-grayscale {
  filter: grayscale(90%);
}

.card__image-label {
  position: absolute;
  z-index: 10;
  opacity: 0.5;
  color: var(--content-color, #000);
  font-family: var(--font-accent, serif);
  font-size: 14px;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  text-shadow: 0 0 1px var(--content-color, #000);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--background-color, #fff)) or (-webkit-text-stroke: 1px var(--background-color, #fff))) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, #fff);
    text-stroke: 1px var(--background-color, #fff);
  }
}

.card__content-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__content-container-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_content-description {
  color: var(--content-color, #000);
  font-size: var(--title-font-size, 18px);
  line-height: 21px;
}

.card_button-container {
  display: flex;
  align-self: flex-end;
  gap: 12px;
}

.card__icon-button {
  background-color: transparent;
  cursor: pointer;
  block-size: 34px;
  inline-size: 39px;
  border: none;
  outline: none;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--content-color, #000);
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.footing {
  fill: transparent;
  transition: fill 0.3s linear;
}

.sparks {
  fill: none;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.like-icon:hover .core {
  fill: var(--content-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--content-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.06s linear;
}

.button {
  position: relative;
  border: 2px solid var(--content-color, #000);
  background-color: var(--background-color, #fff);
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--background-color, #fff);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
  block-size: 100%;
  inline-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--content-color, #000);
  outline: none;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding-block-start: 5px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #fff);
  font-family: var(--font-accent, serif);
  font-size: 14px;
  mix-blend-mode: difference;
}

.button__save {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
  inline-size: clamp(5.25rem, -7.9605rem + 66.0526vw, 20.9375rem);
  margin-block-end: clamp(6.25rem, 6.184rem + 0.2817vw, 6.4375rem);
  padding-block: 15px;
}

.save-icon {
  inline-size: 21px;
  block-size: 21px;
	color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

.dialog__text {
  color: var(--button-text-color, #fff);
  font-family: var(--font-accent, serif);
  font-size: 14px;
  mix-blend-mode: difference;
  min-inline-size: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
  line-height: 150%;
}

.dialog__container {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  gap: 20px;
}

.dialog__container .dialog__text {
  text-transform: uppercase;
}

dialog[open] {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 30px;
  border: 2px solid var(--content-color, #000);
  padding: 30px;
}

.dialog::backdrop {
  background-color: var(--backdrop-color, rgb(0 0 0 / 0.75));
}

.dialog__container .save-icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog-button {
  min-block-size: 36px;
}

@media (width <= 375px) {
  .card__title {
    padding: 4px 24px 6px 10px;
    line-height: 21px;
  }

  .save-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .button__save {
    flex-direction: column;
  }

  .dialog[open] {
     padding-inline: 38px;
  }
}
