/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Intel-Variable';
    --font-accent: 'PressStart2P';
    --title-font-weight: 715;
    --main-font-weight: 410;
    --background-color: #fff;
    --background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, rgb(0 0 0 /0) 2px 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(0 0 0 /0) 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
    --content-color: #000;
    --heart-contour-color: #000;
    --button-text-color: #fff;
    --title-font-size: 18px;
    --backdrop-color: rgb(0 0 0 / 0.75);
    --animation-fill-color: #ff0000;
}